body{
  width: 100vw;
  font-family: 'Krub', sans-serif;
  box-sizing: border-box;
}

.none{
  display: none;
}

/* HEADER */
header nav{
  padding: 22px;
  text-align: center;
  background-color: #3B74A0;
  color: #F5F5F5;
  margin-bottom: 16px;
}

header nav h1{
  font-size: 1.5rem;
}

header nav p{
  font-size: .7rem;
}

/* SEARCH */
.search-engine{
  border-bottom: 1px inset #ccc;
  width: 150px;
  margin: 0 auto;
  padding: 6px;
}

.search-input{
  width: 80%;
  border: none;
  outline: none;
}

.search-icon{
  font-size: .7rem;
  float: left;
  margin: 4px 12px 0 0;
  color: #ccc;
}

/* ERROR */
.error{
  text-align: center;
  margin-top: 60px;
  color: red;
  display: none;
}

@media(min-width: 768px){
  .search-input{
    font-size: .7rem;
  }
}

@media(min-width: 992px){
  .user{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 22px;
  }

  header nav{
    padding: 26px;
  }

  header nav h1{
    font-size: 1.8rem;
  }
  
  header nav p{
    font-size: 1rem;
  }
  
  .search-engine{
    margin-top: 32px;
  }

  .search-input,
  .search-icon{
    font-size: .7rem;
  }
}

@media(min-width: 1200px){
  header nav{
    padding: 32px;
  }

  header nav h1{
    font-size: 2rem;
  }

  header nav p{
    font-size: 1.1rem;
  }
}