body{
  width: 100vw;
  font-family: 'Krub', sans-serif;
  box-sizing: border-box;
}

/* HEADER */
header nav{
  padding: 22px;
  text-align: center;
  background-color: #3B74A0;
  color: #F5F5F5;
}

header nav h1{
  font-size: 1.5rem;
}

header nav p{
  font-size: .7rem;
}

/* SEARCH */
.search-engine{
  text-align: center;
  margin-top: 16px;
}

.search-input{
  margin-top: 8px;
  padding: 6px;
  width: 50%;
  border-radius: 10px;
  border: 1px inset #ccc;
}

.search-icon{
  font-size: .7rem;
}

@media(min-width:576px){
  /* SEARCH */
  .search-input{
    width: 35%;
  }
}

@media(min-width: 768px){
  /* SEARCH */
  .search-input{
    width: 40%;
    font-size: 1.1rem;
  }

  .search-icon{
    font-size: .9rem;
  }
}

@media(min-width: 992px){
  .user{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 22px;
  }

  /* HEADER */
  header nav{
    padding: 26px;
  }

  header nav h1{
    font-size: 1.8rem;
  }
  
  header nav p{
    font-size: 1rem;
  }
  
  /* SEARCH */
  .search-engine{
    margin-top: 32px;
  }

  .search-icon{
    font-size: 1rem;
  }

  .search-input{
    width: 30%;
  }
}

@media(min-width: 1200px){
  /* HEADER */
  header nav{
    padding: 32px;
  }

  header nav h1{
    font-size: 2rem;
  }

  header nav p{
    font-size: 1.1rem;
  }
}