.user-repositories{
  margin: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: .8rem;
}

.repositories-list {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}

.repositories-list-line:nth-child(even) {
  background-color: #F5F5F5;
}

.repositories-list-col,
.repositories-list-first-col {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.repositories-list-first-col{
  text-align: center;
  font-weight: bolder;
}

table select{
  border: 1px solid #ccc;
  width: 100%;
}

.info-icon{
  margin-right: 8px;
}

table tbody a{
  color: inherit;
}

@media(min-width: 768px){
  .user-repositories{
    margin: 20px;
  }

  .repositories-list{
    width: 80%;
  }
}

@media(min-width: 992px){
  .user-repositories{
    width: 60%;
  }

  .repositories-list{
    width: 100%;
  }
}