.user-profile{
  margin: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.user-image{
  width: 250px;
  margin: 0 auto 16px;
  border-radius: 4px;
}

.user-name{
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 16px;
  font-weight: bold;
}

.user-follows{
  margin: 2px auto 16px;
}

.user-followers,
.user-followings{
  font-size: .7rem;
  color: #F5F5F5;
  font-weight: bold;
  padding: 6px;
  border-radius: 8%;
}

.user-followers{
  background-color: #313E50;
}

.user-followings{
  background-color: #66666E;
}

.user-info{
  padding: 16px;
  border-radius: 2%;
  margin: 0 auto;
  box-sizing: border-box;
  width: 250px;
}

.user-email{
  margin-bottom: 16px;
}

.user-icon{
  margin-right: 10px;
}

@media(min-width: 576px){
  .user-image{
    width: 280px;
  }

  .user-name{
    margin-bottom: 22px;
  }

  .user-followers,
  .user-followings{
    padding: 10px;
  }

  .user-info{
    width: 280px;
  }
}

@media(min-width: 992px){
  .user-profile{
    margin-top: 24px;
  }
}